@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$fontfamily:'Press Start 2P', 'Microsoft JhengHei','Noto Serif', 'Noto Sans Kannada', 'Open Sans','WenQuanYi Zen Hei', Arial, sans-serif;

//main
$main__color: #e8414d;
$sub__color: #fbcdce;
$sub__color--2: #f58e8f;
$orange__color: #f27649;
$gray__color: #e5e5ea;
$gray__color--2: #a6a6a8;
$gray__color--3: #d1d1d6;
$gray__color--4: #f2f2f2;
$grey__color: #535659;
$white__color: #ffffff;
$text__color: #000000;
$shadow__color: #00000025;
$text__color--light: #a6a6a8;
$guide__color: rgba(0, 0, 0, 0.7);
$pop__color: #ffffff;

//Home
$home__bg: #f2f2f2;
$home__nav: #ffffff;
$home__tit: #ffffff;
$home__shadow: #c7c7cc;
$home__submit: #ffffff;

//Overview

$overview__nav: #ffffff;
$overview__bg: #979797;
$overview__tit: #f58e8f;

//social
$social__1: #ffc873;
$social__2: #ffd38f;
$social__3: #ffdeab;
$social__4: #ffe9c7;
$social__5: #fff4e3;

//web
$web__1: #59d9ce;
$web__2: #7ae1d8;
$web__3: #9be8e2;
$web__4: #bdf0eb;
$web__5: #def7f5;

//barnd
$brand__1: #6a9bfe;
$brand__2: #59d9ce;
$brand__3: #ffc873;
$brand__4: #ff9873;
$brand__1--active: #4066b2;
$brand__2--active: #2d9b92;
$brand__3--active: #df9b31;
$brand__4--active: #cd5f37;
//font size
$f__12: 3.4vw;
$f__14: 4vw;
$f__16: 4.5vw;
$f__18: 5vw;
$f__20: 5.6vw;
$f__24: 6.7vw;
$f__26: 7.2vw;
$f__30: 8.4vw;
