@charset "UTF-8";
/* ________________________________________________________________________________ */
/* XS 超小屏幕（手机，大於 0px） 及共用 ___________________________________________ */
/* ________________________________________________________________________________ */
@media (min-width: 0px) {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    touch-action: pan-y;
  }
  html {
    font-size: 10px;
  }
  *,
  body {
    box-sizing: border-box;
    font-family: $fontfamily;
    font-weight: 400;
    background-color: $home__bg;
  }
  #app {
    display: block;
    position: relative;
    font-size: 2em;
    margin: auto;
    max-width: 640px;
    min-height: 100vh;  
    font-family: $fontfamily;
    a {
      text-decoration: none;
      outline: none;
      cursor: pointer;
    }
    button {
      outline: none;
    }
  }

  body::-webkit-scrollbar {
    width: 1px;
  }

  .footer {
    @include flex-jcc-atc;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5em 0;
    margin-top: auto;
    font-size: 0.3em;
    color: $text__color--light;
    background-color: $gray__color;
  }
}
/* ________________________________________________________________________________ */
/* SM 小屏幕（平板，大於等於 768px） ______________________________________________ */
/* ________________________________________________________________________________ */
@media (min-width: 768px) {
  html {
    font-size: 12px;
  }
}
