@charset "UTF-8";
/* ________________________________________________________________________________ */
/* XS 超小屏幕（手机，大於 0px） 及共用 ___________________________________________ */
/* ________________________________________________________________________________ */
@media (min-width: 0px) {
  .question {
    display: block;
    width: 100%;
    height: 100%;
    &__container {
      width: 100%;
      height: 100%;
      padding:3em 1em;
      box-sizing: border-box;
      // background: $white__color;
    }
    &__title{
      color: $main__color;
      font-size: 1.5em;
      font-weight: bold;
      line-height: 1.75;
      letter-spacing: .25em;
      text-shadow: 0.07em 0.1em 0.05em $grey__color--2;
    }
    &__answers{
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      @include flex-jcc-atc;
      flex-direction: column;
    }
    &__button{
      @include flex-jcc-atc;
      opacity: 0;
      position: relative;
      width: 17em;
      // height: 6em;
      // padding: .6em 3em 1em;
      // border-radius: 2em;
      // font-size: .8em;
      // color: $home__bg;
      // line-height: 1.5;
      // text-align: center;
      // background-color: $main__color;
      // // text-shadow: 0.1em 0.1em $grey__color;
      // box-shadow: .25em .25em .25em .05em rgba(51, 51, 51, 0.5);
      // transition: .5s;
      overflow: visible;
      margin: 0;
      padding: 0;
      border: 0;
      background: transparent;
      font: inherit;
      line-height: normal;
      cursor: pointer;
      -moz-user-select: text;
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      padding: 16px 36px 22px;
      background-color: $home__bg;
      color: $main__color;
      border: 2px solid $main__color;
      border-radius: 6px;
      margin-bottom: 3em;
      transition: all 0.5s ease;
      &:nth-of-type(2){
        animation-delay: .8s !important;
      }
      &:visited,&:hover,&:link{
        color: $home__bg;
      }
      &:hover{
        background-color: $main__color;
        color: $home__bg;
        border-color: #ff2735;
        &::after{
          background-image: repeating-linear-gradient(45deg, $home__bg, $home__bg 1px, transparent 2px, transparent 5px);
          border-top: 1px solid $main__color;
          -webkit-animation: stripe-slide 12s infinite linear forwards;
          animation: stripe-slide 12s infinite linear forwards;
        }
      }
      &:active{
        // transform: translate(2%,2%);
        // box-shadow: .01em .01em .25em .3em rgba(51, 51, 51, 0.5);
      }
      &::after{
        content: "";
        display: block;
        height: 7px;
        width: 100%;
        background-image: repeating-linear-gradient(45deg, $main__color, $main__color 1px, transparent 2px, transparent 5px);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-top: 1px solid $main__color;
        position: absolute;
        left: 0;
        bottom: 0;
        background-size: 7px 7px;
      }
      &.show{
        animation: popup 1s linear alternate forwards;
      }
    }
  }
}

/* ________________________________________________________________________________ */
/* SM 小屏幕（平板，大於等於 768px） ______________________________________________ */
/* ________________________________________________________________________________ */
@media (min-width: 768px) {
  .question{
    &__answers{
      // padding: 8em 2em;
    }
    &__title{
      white-space: nowrap;
    }
    &__button{
      // font-size: 1em;
    //   width: 20em;
    //   height: 5em;
    //   border-radius: 1.5em;
    }
  }
}

